
* {
    background-color: #000000;
}

.section {
    margin: 50px auto;
    border: 1px solid #ffffff;
    width: 500px;
    height: 200px;
}

.content {
    font-size: 30px;
    margin: 30px auto;
    margin: 50px 20px;
}